.inc {
    width: 100px;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.reset {
    border-radius: 3px;
    color: whitesmoke;
    width: 100px;
    display: flex;
    background-color: rebeccapurple;
    justify-content: center;
}

.App {
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

.CounterMain {
    width: 250px;
    background-color: orange;
    border-radius: 9px;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.NumWrap {
    width: 70%;
    border-radius: 9px;
    border-style: solid;
    margin-bottom: 10px;
}
.CounterBtnsWrap {
    width: 70%;
    border-radius: 9px;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.counterWithRedux {
    box-sizing: border-box;
    color: #2582a1;
    padding-left: 10px;
}