.inc {
    width: 100px;
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.reset {
    border-radius: 3px;
    color: whitesmoke;
    width: 100px;
    display: flex;
    background-color: rebeccapurple;
    justify-content: center;
    box-sizing: border-box;
}


.CounterMain {
    width: 250px;
    background-color: orange;
    border-radius: 9px;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.NumWrap {
    width: 70%;
    border-radius: 9px;
    border-style: solid;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.CounterBtnsWrap {
    width: 70%;
    border-radius: 9px;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.counter {
    color: rebeccapurple;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;
}
.counterV2 {
    color: rebeccapurple;
    padding-left: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}

.set {
    border-radius: 3px;
    color: black;
    width: 100px;
    display: flex;
    background-color: yellow;
    justify-content: center;
    margin-top: 10px;
    box-sizing: border-box;
}
