.App {
    text-align: center;
    background-color: indigo;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}

@media (max-width: 980px) {
    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}